# WEEK 2 TUTORIAL

### Import

In [ ]:
import numpy as np
from scipy import optimize
import datetime
import math

### Question 1

$$
105 = \sum_{k=1}^{6} 5 \cdot e^{-kx} + 100e^{-6x}
$$

In [ ]:

def equation(x):
    sum_series = sum(5 * np.exp(-k * x) for k in range(1, 7))
    value = sum_series + 100 * np.exp(-6 * x)
    return value - 105

x_initial_guess = 0.1
x_solution = optimize.root_scalar(equation, x0=x_initial_guess)
annual_yield = x_solution.root

qrate = annual_yield / 4

def bond_price(qrate):
    sum_series = sum((5/4) * np.exp(-k * qrate) for k in range(1, 25))
    price = sum_series + 100 * np.exp(-24 * qrate)
    return price

bond_price_quarterly = bond_price(qrate)

bond_price_quarterly

### Question 2

In [ ]:
market_price = np.array([101.8137, 97.7066, 101.2414, 89.9751, 103.4012, 99.0074, 87.2097])
coupon = np.array([6.5, 3.25, 4.8, 1.5, 5, 4, 2])

In [ ]:
df0 = np.array([])
for i in range(coupon.shape[0]):
    sum = 0
    for j in range(0,df0.shape[0]):
        sum += coupon[i]*df0[j]
    factor = (market_price[i]-sum)/(100+coupon[i])
    df0 = np.append(df0, factor)

print(df0)
print(100*df0[-1]+8*np.sum(df0))

### Question 4

In [ ]:
df_lower = np.empty
df_lower = np.append([1], df0[:-1])
df_one_half = np.exp(np.log(df_lower+1/2 * (df0 - df_lower)))
df1 = np.repeat(np.copy(df0),2)
for i in range(df_one_half.shape[0]):
    df1[2*i] = df_one_half[i]
print(df1)
print(100*df1[-1]+np.sum(df1)*3)

### Question 5

In [ ]:
df_lower = np.empty
df_lower = np.append([1], df1[:-1])
df_one_fourth = np.exp(np.log(df_lower+1/2 * (df1 - df_lower)))
df2 = np.repeat(np.copy(df1),2)
for i in range(df_one_fourth.shape[0]):
    df2[2*i] = df_one_fourth[i]
print(df2)
print(100*df2[-1]+np.sum(df2)*0.5)

### Question 6

In [ ]:
date = datetime.date(2024, 2, 26)
mature = datetime.date(2024, 4, 22)
last_coupon = datetime.date(2023, 4, 22)
quater = datetime.date(2024, 5, 26)
df = math.exp((mature-date).days*(math.log(df2[0]))/(quater-date).days)
print(104.5*df)
print(4.5*(date-last_coupon).days/(mature-last_coupon).days)

### Question 7

In [ ]:
df_lower = np.empty
df_lower = np.append([1], df2[:-1])
df_odd = np.exp(np.log(df_lower + 1/3 * (df2 - df_lower)))

df_lower = np.empty
df_lower = np.append([1], df2[:-1])
df_even = np.exp(np.log(df_lower + 2/3 * (df2 - df_lower)))


df3 = np.repeat(np.copy(df2),3)
for i in range(df_odd.shape[0]):
    df3[3*i] = df_odd[i]
    df3[3*i+1] = df_even[i]

print(1000000/np.sum(df3))

### Question 8

$$
B(t,T_i) = e^{rT_i}
$$

Increase 50 basis point mean $$r + 0.005$$

$$
B'(t,T_i) = e^{(r+0.005)T_i}
=e^{rT_i} \cdot e^{0.005T_i}
=B(t,T_i) \cdot e^{0.005T_i}
$$

In [ ]:
print(1000000/np.sum(df3*np.exp(np.arange(1, df3.shape[0]+1)*0.0005)))

### Question 9

In [ ]:
payment_pm1 = 10000*0.17/12
payment1 = np.sum(np.full(24,payment_pm1) * df3[:24])

payment_pm2 = 10000*0.22/12
payment2 = np.sum(np.concatenate((np.full(6,0), np.full(18,payment_pm2))) * df3[:24])

print(payment1, payment2)
print('Switch due to lower payment')

### Question 10

In [ ]:
def rate_change(x):
    payment_pm1 = 10000*0.17/12
    payment1 = np.sum(np.full(24,payment_pm1) * df3[:24])

    payment_pm2 = 10000*x/12
    payment2 = np.sum(np.concatenate((np.full(6,0), np.full(18,payment_pm2))) * df3[:24])

    return payment1-payment2

rate = optimize.root_scalar(rate_change, bracket=[0,1])
print(rate)