# 1.

The price of the 90-day Australian bank bill with yield 5.5% is $ P = 100,000 * (1+0.055*\frac{90}{365})^{-1} $

In [1]:
r1=5.5/100
r2=5.48/100
fv=100000
P = fv *1/(1+r1*90/365)
print(P)

98661.98134883092

The price of the 60-day bill trading at 5.48% is $P'=100,000 *(1+0.0548 * \frac{60}{365})^{-1}$

In [2]:
P1 = fv *1/(1+r2*60/365)
print(P1)

99107.22043618037

Holding Period Yield for 30 days is

In [3]:
(P1-P)/P /30 * 365

0.054905400121644084

# 2.

Using the definition fo bond yield

In [2]:
import numpy as np
from scipy import optimize
def f(y,n,c,mp):
    return c*(1-(1+y)**(-n))/y + 100 * (1+y)**(-n) - mp


fv =100
c_list = np.array([6.5,3.25,4.8,1.5,5,4,2])
mp_list = np.array([101.8137,97.7066,101.2414,89.9751,103.4012,99.0074,87.2087])

In [5]:
y_list=[]
for i in range(7):
    n=i+1
    sol = optimize.root_scalar(f, bracket=[0.00001,1000], args=(n,c_list[i],mp_list[i]))
    y = sol.root
    #print(y)
    y_list.append(y)

In [6]:
print(y_list)

[0.046028186776435734, 0.04474220150763289, 0.043496912077642176, 0.04280008152461199, 0.042310328713518856, 0.04190526364453558, 0.04142380835108766]

# 3.

(a)
- Using the price of Treasury bond formula,
- the number of days between coupon dates is 3/15 ~ 9/15.
- the number of coupon times remaining is 6; 17/3/15,17/9/15, 18/3/15,18/9/15, 19/3/15,19/9/15

In [3]:
import datetime as dt

In [8]:
diff = dt.datetime(2017,9,15)-dt.datetime(2017,3,15)
dpn=diff.days
print(dpn)

184

In [9]:
diff1 = dt.datetime(2017,3,15)-dt.datetime(2017,3,6)
dtn=diff1.days
print(dtn)

9

In [10]:
w=dtn/dpn
c_rate = 6/100
fv=100
i=4.5/100
k=2 # semi anuually paid
n=6
c = fv * c_rate / k
P = (1+i)**(-w) * (c + c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(P)

96.20767663086696

(b)
- the number of days between the settlement date and the next coupon date is 3/13 ~ 3/15. **< 7 days**
- the number of coupon times remaining is 6; 17/3/15,17/9/15, 18/3/15,18/9/15, 19/3/15,19/9/15

In [11]:
diff2 = dt.datetime(2017,3,15)-dt.datetime(2017,3,13)
dtn2=diff2.days
w2=dtn2/dpn
c_rate = 6/100
fv=100
i=4.5/100
k=2 # semi anuually paid
n=6
c = fv * c_rate / k
P1 = (1+i)**(-w2) * (c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(P1)

93.37035167248264

# 4.

(a) the quoted yield is the same

- calculate two prices on 17/03/06 and on 17/03/07.
- obtain HPY

In [12]:
w=dtn/dpn
c_rate = 6/100
fv=100
i=4.45/100
k=2 # semi anuually paid
n=6
c = fv * c_rate / k
P = (1+i)**(-w) * (c + c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(P)

96.4201006613679

In [13]:
w=(dtn-1)/dpn
c_rate = 6/100
fv=100
i=4.45/100
k=2 # semi anuually paid
n=6
c = fv * c_rate / k
P2= (1+i)**(-w) * (c + c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(P2)

96.44291840140104

In [14]:
HPY=(P2-P)/P * 365/1
print(HPY)

0.08637695931628254

(b) the quoted yields are not same

In [15]:
w=(dtn-1)/dpn
c_rate = 6/100
fv=100
i=4.4/100
k=2 # semi anuually paid
n=6
c = fv * c_rate / k
P2= (1+i)**(-w) * (c + c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(P2)

96.65574449831061

In [16]:
HPY2=(P2-P)/P * 365/1
print(HPY2)

0.8920339212895232

# 5.

- Caculated the future value of reinvested coupons + face value at the maturity.
- Obtain HPY of two values

In [17]:
w=dtn/dpn
c_rate = 6/100
fv=100
i=4.5/100
k=2 # semi anuually paid
n=6
c = fv * c_rate / k
P = (1+i)**(-w) * (c + c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(P)

96.20767663086696

In [18]:
r = 4.52/100
reinvested_c = c * ((1+r/2)**6 - 1)/(r/2)
print(reinvested_c)
Future_value = reinvested_c + fv

19.048169756371344

In [19]:
T = 2 + 9/365

In [20]:
HPY3 = 1/T*np.log(Future_value/P)
print(HPY3)

0.10521238398442546

# 6.

Using the quation of US bond,

In [21]:
diff = dt.datetime(2022,3,7) - dt.datetime(2022,1,15)
d_pt = diff.days
diff = dt.datetime(2022,7,15) - dt.datetime(2022,1,15)
d_pn = diff.days
P0=98+19/32
c = 100 * 5/100 / 2
P = P0 + c * d_pt/d_pn
print(P)

99.29816988950276

# 7.

Assume there are two 1-year zero coupon bonds with the simple rate of $r_1$ and semi-annually componded rate $r_2$.

- Those are the price of them
- $P_1=(1+r_1)^{-1}$
- $P_2=(1+r_2/2)^{-2}$

If $P_1<P_2$, then we buy the first bond and sell the second bond now to get some profits. After 1 year, there will be no risk because we will get 1 dollar from the first bond and lose 1 dollar from the second bond which we will not have no longer. On the contrary, if $P_2<P_1$, the purchase the zero coupon bond with the semi-annually compounded rate $r_2$ and sell the one with the simple rate of $r_1$ to gain some money. Likewise, people would like to buy a cheap bond and sell expensive one. Then, the demands of the cheap bond and the supply of the expensive one are increasing. Therefore, they become equal to make 'no arbitrage' by equilibrium.


- $(1+r_1)^{-1}=(1+r_2/2)^{-2}$
- $r_2 = 2(\sqrt{1+r_1} - 1)$

# 8.

In [4]:
import pandas as pd
AGB=pd.read_excel("AustralianGovernmentBonds.xlsx")
AGB.head()

,Coupon and Maturity (click for term sheet),"Outstanding\n(face value, AUD million)",ISIN,Price
0,2.75% 21 April 2024,35900,AU3TB0000143,99.78
1,0.25% 21 November 2024,41300,AU0000083768,97.31
2,3.25% 21 April 2025,41500,AU3TB0000168,99.19
3,0.25% 21 November 2025,39200,AU0000095457,94.18
4,4.25% 21 April 2026,39600,AU000XCLWAI8,101.02

In [5]:
ex=AGB.iloc[:,0][0]
#ex.find('%')
float(ex[:ex.find('%')])

2.75

In [6]:
C_M = AGB.iloc[:,0]
rates=[]
dates=[]
for i in range(len(AGB)):
    x=C_M[i]
    where=x.find('%')
    rate=float(x[:where])
    date=pd.to_datetime(x[where+2:])
    rates.append(rate)
    dates.append(date)
#print(dates)

In [7]:
df=pd.DataFrame({'Coupon rate(%)':rates,'Maturity':dates,'Price':AGB.iloc[:,-1]})
df.head()

   Coupon rate(%)   Maturity   Price
0            2.75 2024-04-21   99.78
1            0.25 2024-11-21   97.31
2            3.25 2025-04-21   99.19
3            0.25 2025-11-21   94.18
4            4.25 2026-04-21  101.02

In [8]:
today = dt.datetime(2024,3,1)

In [9]:
DTN =[]
DPN=[]
N = []
for i in range(len(df)):
    mat = df.loc[i,'Maturity']
    # find the date of the next coupon paid
    if mat.month-6 >= 3 :
        next_coupon=dt.datetime(today.year,mat.month-6,mat.day)
    else:
        next_coupon=dt.datetime(today.year,mat.month,mat.day)
        

    
    # find d_pn
    Cmonth = next_coupon.month
    if  Cmonth<= 6:
        next_coupon_date = next_coupon.replace(month=Cmonth+6)
        diff_pn=next_coupon_date - next_coupon
        diff_pn=diff_pn.days
    else:
        previous_coupon_date = next_coupon.replace(month=Cmonth-6)
        diff_pn= next_coupon-previous_coupon_date 
        diff_pn=diff_pn.days
    # find d_tn
    if today < next_coupon:
        diff_tn = next_coupon - today
        diff_tn = diff_tn.days
    else: 
        diff_tn = next_coupon_date - today
        diff_tn = diff_tn.days
    # find the number of coupon remaining
    n = round((mat - next_coupon).days/diff_pn + 1)
    N.append(n)
    DTN.append(diff_tn)
    DPN.append(diff_pn)

In [10]:
df['DTN']=DTN
df['DPN']=DPN
df['N']=N

In [11]:
df.head()

   Coupon rate(%)   Maturity   Price  DTN  DPN  N
0            2.75 2024-04-21   99.78   51  183  1
1            0.25 2024-11-21   97.31   81  184  2
2            3.25 2025-04-21   99.19   51  183  3
3            0.25 2025-11-21   94.18   81  184  4
4            4.25 2026-04-21  101.02   51  183  5

In [12]:
def Yield(y,dtn,dpn,c,n,P):
    if dtn <= 7:
        k=0
        
    else:
        k=1
    return (1+y/2)**(-dtn/dpn) * (c*k + c*(1-(1+y/2)**(1-n))/(y/2) + 100*(1+y/2)**(1-n)) - P

In [13]:
y_list=[]
for i in range(len(df)):
    
    dtn = df.loc[i,'DTN']
    dpn = df.loc[i,'DPN']
    c = 100 * df.loc[i,'Coupon rate(%)']/100 / 2
    n = df.loc[i,'N']
    P = df.loc[i,'Price']
    
    sol = optimize.root_scalar(Yield, bracket=[0.00001,1], args=(dtn,dpn,c,n,P))
    y = sol.root
    y_list.append(y)

In [24]:
print(y_list)

[0.11711033009161011, 0.041801502527714834, 0.05058493199004296, 0.03820339439665026, 0.04501746689486407, 0.03774396898696412, 0.04298785874002966, 0.039686406178953, 0.03914444907075574, 0.03941501123250419, 0.040523225597562176, 0.04006436605181293, 0.0404015381539566, 0.039946847172661865, 0.04055442717317515, 0.04088005087657785, 0.041359442778004844, 0.04195736812156366, 0.04339290870984141, 0.04229444295596791, 0.04258054604356768, 0.04239102687478535, 0.042334677132422505, 0.04478663572282848, 0.04403491469107277, 0.044825294073465104, 0.0459355198610368, 0.045400839757745046, 0.04535478919233684]

In [25]:
print(N)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 27, 31, 35, 47, 55, 61]

(b)

In [14]:
Price = df['Price']
coupon = 100 * df.loc[:,'Coupon rate(%)']/100 / 2

In [15]:
df.head()

   Coupon rate(%)   Maturity   Price  DTN  DPN  N
0            2.75 2024-04-21   99.78   51  183  1
1            0.25 2024-11-21   97.31   81  184  2
2            3.25 2025-04-21   99.19   51  183  3
3            0.25 2025-11-21   94.18   81  184  4
4            4.25 2026-04-21  101.02   51  183  5

In [16]:
# make a function for the interpolation
def interpolate(B_right_mat,B_left_mat,time,left_mat):
    return np.exp( np.log(B_left_mat) + (time/365-left_mat/365)/(times[-1]/365-left_mat/365) * (np.log(B_right_mat) - np.log(B_left_mat))) 

for i in range(len(df)):
    #print(i)
    # for the first bond
    if i ==0:
        B_mat1=Price[0]/(coupon[0]+100)
        times=(DTN[0] + DPN[0] * np.array(range(N[0])))
        # make a dataframe for all zero coupon bonds
        ZeroDF = pd.DataFrame({'TimetoMaturity':[0,times[0]],'ZeroBondPrice':[1,B_mat1]}) 
    # for other bonds
    else:
        
        times=(DTN[i] + DPN[i] * np.array(range(N[i])))
        #print(times)
        zerodf_bybond = pd.DataFrame({'TimetoMaturity':times,'ZeroBondPrice':[0]*len(times)})
        Missing_time = []    
        
        for j in range(len(times)):
            
            Timelist=list(ZeroDF['TimetoMaturity'])
            # if there is already zero coupon bond price in the 'ZeroDF ''
            if times[j] in Timelist:
                zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
            else:
            # find the zero coupon price on the left of unknown time
                left_std_subset = np.where(Timelist < times[j])
                left_index=max(left_std_subset[0])
                left_mat = Timelist[left_index]
                B_left_mat = ZeroDF.loc[ZeroDF['TimetoMaturity'] == left_mat,'ZeroBondPrice'].values[0]
                right_std_subset = np.where(Timelist > times[j])
            # find the zero coupon price on the right of unknown time
                if right_std_subset[0].any() == True:
                    right_index=min(right_std_subset[0])
                    right_mat = Timelist[right_index]
                    B_right_mat = ZeroDF.loc[ZeroDF['TimetoMaturity'] == right_mat,'ZeroBondPrice'].values[0]
                    
                    zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
                    ZeroDF.loc[-1] = [times[j],interpolate(B_right_mat,B_left_mat,times[j],left_mat)]
            # if there is not zero coupon price on the right
                else:                    
                    Missing_time.append(times[j])
        # make a function for the summation of zero coupon prices of unknown times in terms of price at the maturity of the bond    
        def sums(B_mat,option):
            Missing_df = []
            
            for k in range(len(Missing_time)):
                missing = interpolate(B_mat,B_left_mat,Missing_time[k],left_mat)
                Missing_df.append(missing)
            sums = sum(Missing_df)
            if option == 'Sum':
                
                return sums
            if option == 'List':
                return Missing_df # return the list 
            
        # make a function to get the zero coupon bond price of the maturity using pricing formula of the bond
        
        def get(B_mat):
            return coupon[i]*(sums(B_mat,'Sum')+sum(list(zerodf_bybond['ZeroBondPrice'])))+ 100*B_mat - Price[i]
        sol = optimize.root_scalar(get, bracket=[0.000001,5])
        y = sol.root
        #print(zerodf_bybond)
        Adding_df = pd.DataFrame({'TimetoMaturity':Missing_time,'ZeroBondPrice':sums(y,'List')})
        #ZeroDF = pd.concat([ZeroDF, zerodf_bybond]).drop_duplicates()
        # add obtained zero coupon prices on 'ZeroDF'
        ZeroDF=pd.concat([ZeroDF,Adding_df],axis=0, ignore_index=True)
        
ZeroDF.head(-5)

C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9842663378545006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9842663378545006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9996626367069747' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9842663378545006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9842663378545006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9821960543301809' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9822067273200672' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9842663378545006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9822532060443224' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9822574499417781' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9842663378545006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9822812732978877' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823472950027387' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=ZeroDF.loc[Timelist==times[j],'ZeroBondPrice'].values[0]
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9999626156210135' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823105239687856' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)
C:\Users\1tran\AppData\Local\Temp\ipykernel_4364\2160127538.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9823141906580033' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  zerodf_bybond.loc[j,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[j],left_mat)

    TimetoMaturity  ZeroBondPrice
0              0.0       1.000000
1             51.0       0.984266
2             81.0       0.982347
3            265.0       0.970659
4            234.0       0.977007
..             ...            ...
81          9628.0       0.280862
82          9811.0       0.261053
83          9994.0       0.242642
84          8164.0       0.564144
85         10177.0       0.196850

[86 rows x 2 columns]

(c) - first of all, find a price

In [37]:
Coupon = 100 * 4/100 / 2
next_coupondate = dt.datetime(2024,9,1)
dtn = (next_coupondate - today).days
dpn=dtn
maturity = dt.datetime(2044,2,28)
coupon_number = round((maturity - next_coupondate).days / dpn)
days_to_maturity = (maturity - today).days

In [38]:
coupon_number

39

In [39]:
times=(dtn + dtn * np.array(range(coupon_number)))
times=np.append(times,days_to_maturity)
times

array([ 184,  368,  552,  736,  920, 1104, 1288, 1472, 1656, 1840, 2024,
       2208, 2392, 2576, 2760, 2944, 3128, 3312, 3496, 3680, 3864, 4048,
       4232, 4416, 4600, 4784, 4968, 5152, 5336, 5520, 5704, 5888, 6072,
       6256, 6440, 6624, 6808, 6992, 7176, 7303])

In [40]:
Timelist = list(ZeroDF['TimetoMaturity'])
zerodf_bybond = pd.DataFrame({'TimetoMaturity':times})
for i in range(len(times)):
    #print(i)
    left_std_subset = np.where(Timelist < times[i])
    left_index=max(left_std_subset[0])
    left_mat = Timelist[left_index]
    B_left_mat = ZeroDF.loc[ZeroDF['TimetoMaturity'] == left_mat,'ZeroBondPrice'].values[0]
    right_std_subset = np.where(Timelist > times[i])
    right_index=min(right_std_subset[0])
    right_mat = Timelist[right_index]
    B_right_mat = ZeroDF.loc[ZeroDF['TimetoMaturity'] == right_mat,'ZeroBondPrice'].values[0]
    zerodf_bybond.loc[i,'ZeroBondPrice']=interpolate(B_right_mat,B_left_mat,times[i],left_mat)

In [41]:
zerodf_bybond.tail(5)

    TimetoMaturity  ZeroBondPrice
35            6624       0.606359
36            6808       0.556021
37            6992       0.508100
38            7176       0.459680
39            7303       0.408485

In [42]:
couponPrice = list(zerodf_bybond['ZeroBondPrice'])
Bond_Price = Coupon * sum(couponPrice[1:len(couponPrice)-1]) + 100 * couponPrice[-1]
Bond_Price

95.94508432414652

(c) find a yield

In [43]:
# Considering the cash flow of the maturity
def special_Yield(y,dtn,dpn,c,n,P):
    if dtn <= 7:
        k=0
        
    else:
        k=1
    return (1+y/2)**(-dtn/dpn) * (c*k + c*(1-(1+y/2)**(1-n))/(y/2) + 100*(1+y/2)**(-n)) - P
sol = optimize.root_scalar(Yield, bracket=[0.00001,1], args=(dtn,dpn,Coupon,coupon_number,Bond_Price))
bond_yield= sol.root
bond_yield

0.04309520796965001

(d)

In [44]:
def Yield(y,dtn,dpn,c,n,P):
    if dtn <= 7:
        k=0
        
    else:
        k=1
    return (1+y/2)**(-dtn/dpn) * (c*k + c*(1-(1+y/2)**(1-n))/(y/2) + 100*(1+y/2)**(1-n)) - P

In [45]:
# find the AU000XCLWAP3's yield
Bond_Price = 87.88
Coupon = 100 * 3.25/100 / 2
settlement_date = dt.datetime(2024,5,1)
next_coupondate = dt.datetime(2024,6,21)
dtn = (next_coupondate - today).days
dpn=(dt.datetime(2024,12,21)-dt.datetime(2024,6,21)).days
coupon_number = round((maturity - next_coupondate).days /dpn + 1)

sol = optimize.root_scalar(Yield, bracket=[0.00001,1], args=(dtn,dpn,Coupon,coupon_number,Bond_Price))
Now_yield = sol.root
print(Now_yield)

0.042046782781942904

In [46]:
# find old yield
Old_yield = Now_yield + 0.1/100*20
w=dtn/dpn

i=Old_yield/100
k=2 # semi anuually paid
n=coupon_number
c = Coupon
Settlement_Price = (1+i)**(-w) * (c + c*(1-(1+i)**(-5))/i + fv*(1+i)**(-5))
print(Settlement_Price)

109.3837083295721

In [47]:
days = (settlement_date - today).days
HP_Return = (Settlement_Price-Bond_Price)/Bond_Price *365/days
HP_Return

1.4641525963672182